<h1>User Profile</h1>

<p>Welcome back, <%= @user.name.capitalize %></p>

<div class="description-card">
  <h2>Description</h2>
  <%= link_to edit_user_registration_path, class: "nav-link" do %>
    <i class="fas fa-user-edit"></i>
  <% end %>
  <p> name : <%= @user.name %></p>
  <p> username :<%= @user.username %></p>
  <p> cellphone: <%= @user.cellphone %></p>
  <p> address: <%= @user.address %></p>
  <p> seller:  <%= @user.seller %></p>

</div>


<h2>Yours Purchases </h2>
<hr>
<% @orders.each do |order| %>

  <p><%= order.status %><p>

<% end %>




<h2>Your Products </h2>
<hr>
<% @products.each do |product| %>

  <p><%= product.name %><p>

<% end %>

<%= link_to new_product_path(@user), class: "nav-link" do %>
    <div class='btn btn-danger'> Add Products </div>
    <p> show only for sellers </p>
  <% end %>
