<div class="fixing-margin">
  <div class="form-centralize">
    <div class="heading">
      <h2>My Cart</h2>
    </div>
    <div class="form-borders-cart">
      <!-- #<ActiveRecord::Relation [#<OrdersToProduct id: 1, quantity: 10, product_id: 7, order_id: 1, unit_price: 15, created_at: "2020-06-04 20:02:46", updated_at: "2020-06-04 20:02:46">, #<OrdersToProduct id: 2, quantity: 10, product_id: 5, order_id: 1, unit_price: 2, created_at: "2020-06-04 20:04:03", updated_at: "2020-06-04 20:04:03">]> -->

      <% if @myproducts %>

        <table class="table">
          <thead >
            <tr class="table-title">
              <th scope="col col-pro layout-inline" >Product</th>
              <th scope="qty qty-plus>Quantity</th>
              <th scope="col col-price col-numeric">Unit Price</th>
              <th scope="col col-vat col-numeric">Partial</th>
            </tr>

          </thead>
            <tbody>
              <% sum = 0  %>
              <% @myproducts.each do |product| %>
                <tr>
                  <th scope='row'><%= Product.find(product.product_id).name %></th>
                  <td>$ <%=  product.quantity  %></td>
                  <td>$ <%=  product.unit_price %></td>
                  <td> <% sum += (product.quantity) * (product.unit_price) %> $ <%=  (product.quantity) * (product.unit_price) %> <%= link_to orders_to_product_path(product),
                  method: 'DELETE' , remote:true do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
        <hr>
        <p><strong>To pay : $ <%= sum %></strong></p>
        <!-- <button name="button" type="submit" class="btn btn-flat">
          <p Pay
        </button>
   -->
      <%= link_to 'Pay', order_path(@order, order: { status: 'bought' }), method: 'PATCH', class: 'btn btn-primary' %>
      <%=  redirect_to user_path(current_user) unless @order.status = 'open' %>
    <% end %>
    </div>
  </div>
</div>
