<div class="home-banner">
  <h1>Local Market</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>




<div class="fixing-the-card">
  <div class="cards">
    <% if @products %>
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
          <div class="card-trip">


            <% if product.photo.attached? %>
              <%= cl_image_tag product.photo.key, height: 160, width: 240, crop: :fill if product.photo.attached? %>
            <% else %>
              <%= image_tag "logo.png", height: 160, width: 240, crop: :fill, class: 'empty' %>

            <% end %>

            <div class="card-trip-infos">
              <div>
                <h2><%= product.name %></h2>
                <p><%= product.description %> </p>


                <!-- <p><%= product.user_id %> </p> -->
              </div>
              <h2 class="card-trip-pricing"> $ <%= product.price %></h2>
              <%= cl_image_tag product.user.photo.key, class: 'card-trip-user avatar-bordered' %>
            </div>
          </div>

        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

