<div class="home-banner">
  <h1>Local Market</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>




<div class="fixing-the-card">
  <div class="cards">
    <% if @products %>
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
         <!--  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0)), url('<%= cl_image_path product.photo.key, height: 300, width: 400, crop: :fill %>')">
            <p><%= product.name %><p>
          </div> -->
          <div class="card-trip">
            <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill if product.photo.attached?%>
            <div class="card-trip-infos">
              <div>
                <h2><%= product.name %></h2>
                <p><%= product.description %> </p>
              </div>
              <h2 class="card-trip-pricing"><%= product.price %></h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>

        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

