<h2>Name: <%= @product.name%></h2>
<p>Price: <%= @product.price  %></p>
<p>Description: <%= @product.description %></p>
<%#Stock logic%>
<% if @product.stock == 0 %>
  <p> sold out <p>
<% else %>
  <p>Stock: <%= @product.stock %></p>
<% end %>
<%# stock logic end%>

<%# rating average logic %>
<% sum_of_ratings = 0 %>
<% @product.review.each do |review| %>
  <% sum_of_ratings += reviews.rating %>
  <p><%= sum_of_ratings/@product.reviews.count %></p>
<% end %>
<%# rating average logic end %>

<% # listing reviews logic %>
<% @product.review.each do |review| %>
  <% if review.description != "" %>
    <p><%= " #{review.description} #{review.rating} #{review.created_at} " %><p>
  <% end %>
<% end %>
<% # listing reviews logic end %>




